<ion-view view-title="Ética Familia Daabon">
<ion-content class="padding" style="background-color: #ece4d9">

<center>
	<img src="img/familia.png" height="50">

	<h1 class="title_family">FILOSOFÍA DE LA FAMILIA</h1>
	<br>
	<p style="color: #262323"><strong>La Familia Daabon</strong>. Una familia que cultiva, transforma, se inspira en los valores y se esfuerza por hacer las cosas de la forma correcta, para ser cada vez mejores, y junto con nosotros, las comunidades y la sociedad a la que pertenecemos.</p>
	<br><br>
	<p style="color: #262323"><strong>Nuestro código</strong><br><br>
		La honestidad<br>
		La justicia<br>
		El amor propio<br>
		El orgullo<br>
		La no violencia<br>
		El ser correctos<br>
		El respeto<br>
		El diálogo
	</p>
</center>
</ion-content>

</ion-content>
</ion-view>
